.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.wrapper {
  width: 1060px;
  box-sizing: border-box;
  margin: 0 auto;
}
.main-article {
  background-color: $base-color;
  text-align: center;
  border: 2px solid #BDBDBD;
  border-radius: 15px;
  margin: 90px 0 135px;

  .main-tit {
    width: 650px;
    padding: 40px 0 37px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    margin: 0 auto;
    border-bottom: 2px solid #BDBDBD;
  }
  .movie-kinds-box {
    display: flex;
    justify-content: space-between;
    margin: 28px 344px;
    color: #828282;
    font-family: 'Roboto';
    li {
      &:hover {
        color: black;
        font-weight: 900;
      }
      cursor: pointer;
    }
  }
}

.contents {
  width: 1003px;
  border: 2px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #fff;
  padding: 25px;
  margin: 28px auto 30px;

  .contents-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 23px;
  }
  .movie-item {
    width: 220px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px  rgba(0, 0, 0, 0.3);
    .movie-info {
      padding: 19px;
      .movie-poster {
        width: 180px;
        height: 250px;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
      }
      h3 {
        font-family: 'Noto Sans KR';
        font-weight: 900;
        font-size: 16px;
        margin: 11px 0 12px;
        text-align: left;
        @include ellipsis;
      }
      .movie-text {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 5px;
        .half-w {
          display: flex;
          justify-content: space-between;
        dd, dt {
          display: inline-block;
          font-family: 'Noto Sans KR';
          font-weight: 400;
          font-size: 13px;
        }
        dt{
          color: #828282;
          margin-right: 5px;
          @include ellipsis;
        }
        .score {
          margin-right: 15px;
        }
        .star {
          position: relative;
          &::before {
            content: '';
            background-image: url(../images/별점이미지.svg);
            width: 14px;
            height: 14px;
            position: absolute;
            margin-left: -16px;
          }
        }
      }
    }
  }
}
.movie-link {
  background: #F2F2F2;
  display: flex;
  justify-items: stretch;
  position: relative;
  border-top: 1px solid #BDBDBD;

  &::before {
    content: '';
    width: 1px;
    height: 40px;
    background-color: #BDBDBD;
    position: absolute;
    left: 110px
  }
  .movie-book {
    @include button;
}
  .movie-trailer {
    @include button;
    
    &::before {
      content: '';
      width: 14px;
      height: 14px;
      display: inline-block;
      background-image: url(../images/아이콘_재생.png);
      background-position: center;
      background-size: 100%;
      margin-right: 2px;
      vertical-align: -2px;
    }
  }
}

