@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,700;1,400;1,900&display=swap");
.wrapper {
  width: 1060px;
  margin: 90px auto 135px;
  background-color: #F2F2F2;
  text-align: center;
  border: 2px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.wrapper .main-tit {
  width: 650px;
  padding: 40px 0 37px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 24px;
  margin: 0 auto;
  border-bottom: 2px solid #BDBDBD;
}

.wrapper .movie-kinds-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 28px 344px;
  color: #828282;
  font-family: 'Roboto';
}

.wrapper .movie-kinds-box li {
  cursor: pointer;
}

.wrapper .movie-kinds-box li:hover {
  color: black;
  font-weight: 900;
}

.contents {
  width: 1003px;
  border: 2px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  background-color: #fff;
  padding: 25px;
  margin: 28px auto 30px;
}

.contents .contents-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 23px;
}

.contents .movie-item {
  width: 220px;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

.contents .movie-item .movie-info {
  padding: 19px;
}

.contents .movie-item .movie-info .movie-poster {
  width: 180px;
  height: 250px;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.contents .movie-item .movie-info h2 {
  font-family: 'Noto Sans KR';
  font-weight: 900;
  font-size: 16px;
  margin: 11px 0 12px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contents .movie-item .movie-info .movie-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  gap: 5px;
}

.contents .movie-item .movie-info .movie-text .half-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: middle;
}

.contents .movie-item .movie-info .movie-text dd, .contents .movie-item .movie-info .movie-text dt {
  display: inline-block;
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 13px;
}

.contents .movie-item .movie-info .movie-text dt {
  color: #828282;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contents .movie-item .movie-info .movie-text .score {
  margin-right: 15px;
}

.contents .movie-item .movie-info .movie-text .star {
  position: relative;
}

.contents .movie-item .movie-info .movie-text .star::before {
  content: '';
  background-image: url(../images/별점이미지.svg);
  width: 14px;
  height: 14px;
  position: absolute;
  margin-left: -16px;
}

.movie-link {
  background: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: stretch;
  position: relative;
  border-top: 1px solid #BDBDBD;
}

.movie-link::before {
  content: '';
  width: 1px;
  height: 40px;
  background-color: #BDBDBD;
  position: absolute;
  left: 110px;
}

.movie-link .movie-book {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-size: 14px;
  padding: 9px 0 11px;
}

.movie-link .movie-trailer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-size: 14px;
  padding: 9px 0 11px;
}

.movie-link .movie-trailer::before {
  content: '';
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url(../images/아이콘_재생.png);
  background-position: center;
  background-size: 100%;
  margin-right: 2px;
}
/*# sourceMappingURL=style.css.map */